# Node modules
node_modules/

# Environment variables
.env

# OS files
.DS_Store

# Build output
dist/

# Coverage directory
coverage/
logs/

#mongo 
mongo/
#postgres
postgres/
/src/generated/
mongo-test/
postgres-test/
